body {
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Galmuri14';

    align-items: center;
    flex-direction: column;

    height: 100vh;
    justify-content: space-between;

}


@font-face {
    font-family: 'Galmuri14';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri14.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.big-text {
    font-size: 64px;
    margin: 20px;
}

.mid-text {
    font-size: 32px;
    margin: 20px;
}

.small-text {
    font-size: 12px;
}

.top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}